/xdg_config/fish/fish_variables
/xdg_config/fish/conf.d/local.fish

/vim/undo/

# Completions that are installed via cmd_install
xdg_config/fish/completions/bat.fish
xdg_config/fish/completions/exa.fish
xdg_config/fish/completions/fd.fish
xdg_config/fish/completions/rg.fish
